# Eclipse
.classpath
.project
.settings/
*.jardesc

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# NetBeans
nbproject/

# vim
.*.sw[a-p]

# Maven
/target/
dependency-reduced-pom.xml
**/dependency-reduced-pom.xml

# various other potential build files
build/
bin/
dist/
manifest.mf
lib/
*.jar

# OS
.DS_Store
Thumbs.db
